.custom {
  width: 100vw;
  height: 100vw;
  z-index: 1;
  position: relative;
  
    &__container{
      position: absolute;
      top:0;
      left:0;
      height: 100vh;
      width: 100vw;
      z-index: 2;
      
    }

    &__flex-container{
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100vw;
      height: 25rem;
    } 

    &__background{
      position: absolute;
      top:0;
      left:0;
      height: 100vh;
      width: 100vw;
      opacity:.2;
    }
    
    &__form{
      border: 1px solid black;
      display:inline-flex;
      flex-direction: column;
      align-items:center;
      text-align: center;
      width: 30rem;
      background-color: white;
      border-radius: 5px;;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      // margin: 1rem auto;
      padding:.5rem 0;

      margin: 1rem 1rem 1rem 9rem;
      height: 20rem;
    }

    &__top-text {
      margin: 1rem 0 .5rem 0;
    }

    &__bottom-text {
      margin: 1rem 0 .5rem 0;
    }

    &__input{
      display:block;
      margin: .75rem 0;
      width:20rem;
      height: 1.75rem;
      padding: .25rem;
      border-radius: 10px;
      box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    }

    &__meme-button{
      display:inline-block;
      padding:0.3em 1.2em;
      margin:0 0.3em 0.3em 0;
      border-radius:2em;
      box-sizing: border-box;
      text-decoration:none;
      font-weight:300;
      color:#FFFFFF;
      background-color: #FFF001;
      color:black;
      text-align:center;
      transition: all 0.2s;
      // margin-top: .5rem;
      width: 10rem;
      font-weight: 700;
      &__hover{
        background-color:#eee231;
      }

      margin-top: 1.7rem;
    }


    &__meme-container{
      width: 50vw;
    }
    
    &__meme{
      display:block;
      margin: auto;
      height:300px;
      z-index: 2;
      height: 20rem;
      
    }
    
     &__image-list{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 90vw;
      height: 53.5vh;
      margin: auto;
      border: 1px solid black;
      overflow-y: scroll;
    }

    &__image-name{
      width: 28vw;
      background-color: white;
      margin: .5rem 0;
      padding: .25rem;
      border: 1px solid black;
      border-radius: 4px;
    }

    &__star {
      display: block;
      margin: auto;
      height: 1.25rem;
      cursor: pointer;

      &--favorite{
        fill: black;
      }
    }

    &__image-title {
      margin: .25rem 0;
      text-align: center;
      cursor: pointer;
    }

    &__select{
      height: 1.5rem;
      padding:.25rem;
      margin-top:.9em;
      width:10rem;
    }

    
    
}